<!-- Backdrop -->
<div class="Modal-backdrop"></div>
<div class="Modal-holder" autoscroll="false">
    <div ui-view>
    </div>

    <div class="row">
        <div class="cart-wrapper">
            <div class="cart-frame">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-hover cart-table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price ($)</th>
                                    <th>Quantity</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ctrl.productSrv.cart">
                                    <td>{{item.name}}</td>
                                    <td>{{item.price}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td class="remove">
                                        <button class="btn-remove" ng-click="ctrl.productSrv.removeItem(item)">X</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /Row -->
                <div class="row m-top30">
                    <div class="col-sm-7 cost-calc">

                        <div class="col-sm-3 subtotal-cost">
                            <p>Subtotal:</p>
                            $125
                        </div>
                        <div class="col-sm-3 taxes-cost">
                            <p>Taxes:</p>
                            $16.25
                        </div>
                        <div class="col-sm-3 shipping-cost">
                            <p>Shipping:</p> 
                            Free
                        </div>
                        <div class="col-sm-3 total-cost">
                            <p>Total:</p>
                            $141.25
                        </div>

                    </div>
                    <div class="col-sm-5">
                       <div class="pull-right">
                        <button type="submit" ng-click="ctrl.$state.go('shop')" class="btn btn-primary btn-continue">Continue Shopping</button>
                        <button ng-click="ctrl.$state.go('checkout')" type="submit" class="btn btn-primary btn-checkout">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Cart Wrapper -->
    </div>
    <!-- /Row -->
</div>